.idea

**/build/*
.vs

**/*.gen.*
**/gen/gen.hpp
**/gen/gen.cpp
**/gen/gen.dep.hpp
**/gen/gen.dep.cpp
**/gen/gen.builder.hpp
**/gen/gen.builder.cpp
**/gen/gen.scanner.hpp
**/gen/gen.scanner.cpp

gencpp.hpp
gencpp.cpp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/