.vscode
.idea

**/build/*
.vs

**/*.gen.*
**/gen/gen.hpp
**/gen/gen.cpp
**/gen/gen.dep.hpp
**/gen/gen.dep.cpp
**/gen/gen.builder.hpp
**/gen/gen.builder.cpp
**/gen/gen.scanner.hpp
**/gen/gen.scanner.cpp

gencpp.hpp
gencpp.cpp

**/*.lib
**/*.pdb
**/*.exe
**/*.dll

release/**

# Unreal
**/Unreal/*.h
**/Unreal/*.cpp
! **/Unreal/validate.unreal.cpp
project/auxiliary/vis_ast/dependencies/temp
test/gen/original
singleheader/gen/scratch.hpp
test/gen/scratch.cpp
gen_c_library/gen

**/*.sln
**/*.sln.DotSettings.user
**/*.10x
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
test/c_library/gen
test/cpp_library/gen
