.idea

**/build/*
.vs

**/*.gen.*
**/gen/gen.hpp
**/gen/gen.cpp
**/gen/gen.dep.hpp
**/gen/gen.dep.cpp
**/gen/gen.builder.hpp
**/gen/gen.builder.cpp
**/gen/gen.scanner.hpp
**/gen/gen.scanner.cpp

gencpp.hpp
gencpp.cpp

**/*.lib
**/*.pdb
**/*.exe
**/*.dll

release/**

# Unreal
**/Unreal/*.h
**/Unreal/*.cpp
! **/Unreal/validate.unreal.cpp
project/auxillary/vis_ast/dependencies/temp
